/* line 1, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
.row {
  clear: both;
  padding: 10px 0px; }

/* line 6, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
.col {
  float: left; }

/* line 9, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
.large-1 {
  width: 8.3333333%; }

/* line 12, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
.large-2 {
  width: 16.666666%; }

/* line 15, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
.large-3 {
  width: 24.999999%; }

/* line 18, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
.large-4 {
  width: 33.333333%; }

/* line 21, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
.large-5 {
  width: 41.6666666%; }

/* line 24, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
.large-6 {
  width: 50%; }

/* line 27, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
.large-7 {
  width: 58.3333333%; }

/* line 30, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
.large-8 {
  width: 66.6666666%; }

/* line 33, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
.large-9 {
  width: 74.9999999%; }

/* line 36, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
.large-10 {
  width: 83.333333%; }

/* line 39, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
.large-11 {
  width: 91.666666%; }

/* line 42, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
.large-12 {
  width: 100%; }

@media (max-width: 1023px) {
  /* line 47, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .medium-1 {
    width: 8.3333333%; }
  /* line 50, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .medium-2 {
    width: 16.666666%; }
  /* line 53, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .medium-3 {
    width: 24.999999%; }
  /* line 56, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .medium-4 {
    width: 33.333333%; }
  /* line 59, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .medium-5 {
    width: 41.6666666%; }
  /* line 62, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .medium-6 {
    width: 50%; }
  /* line 65, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .medium-7 {
    width: 58.3333333%; }
  /* line 68, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .medium-8 {
    width: 66.6666666%; }
  /* line 71, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .medium-9 {
    width: 74.9999999%; }
  /* line 74, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .medium-10 {
    width: 83.333333%; }
  /* line 77, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .medium-11 {
    width: 91.666666%; }
  /* line 80, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .medium-12 {
    width: 100%; } }

@media (max-width: 767px) {
  /* line 86, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .small-1 {
    width: 8.3333333%; }
  /* line 89, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .small-2 {
    width: 16.666666%; }
  /* line 92, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .small-3 {
    width: 24.999999%; }
  /* line 95, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .small-4 {
    width: 33.333333%; }
  /* line 98, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .small-5 {
    width: 41.6666666%; }
  /* line 101, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .small-6 {
    width: 50%; }
  /* line 104, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .small-7 {
    width: 58.3333333%; }
  /* line 107, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .small-8 {
    width: 66.6666666%; }
  /* line 110, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .small-9 {
    width: 74.9999999%; }
  /* line 113, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .small-10 {
    width: 83.333333%; }
  /* line 116, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .small-11 {
    width: 91.666666%; }
  /* line 119, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .small-12 {
    width: 100%; } }

@media (max-width: 480px) {
  /* line 125, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .tiny-1 {
    width: 8.3333333%; }
  /* line 128, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .tiny-2 {
    width: 16.666666%; }
  /* line 131, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .tiny-3 {
    width: 24.999999%; }
  /* line 134, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .tiny-4 {
    width: 33.333333%; }
  /* line 137, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .tiny-5 {
    width: 41.6666666%; }
  /* line 140, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .tiny-6 {
    width: 50%; }
  /* line 143, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .tiny-7 {
    width: 58.3333333%; }
  /* line 146, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .tiny-8 {
    width: 66.6666666%; }
  /* line 149, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .tiny-9 {
    width: 74.9999999%; }
  /* line 152, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .tiny-10 {
    width: 83.333333%; }
  /* line 155, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .tiny-11 {
    width: 91.666666%; }
  /* line 158, /Volumes/dev/projects/sample-app-rea/static/scss/_grids.scss */
  .tiny-12 {
    width: 100%; } }

/* line 1, /Volumes/dev/projects/sample-app-rea/static/scss/_commons.scss */
body {
  margin: 0px;
  padding: 0px; }

/* line 6, /Volumes/dev/projects/sample-app-rea/static/scss/_commons.scss */
* {
  color: #666;
  font-family: sans-serif; }

/* line 1, /Volumes/dev/projects/sample-app-rea/static/scss/_index.scss */
.main-wrapper {
  width: 100%;
  max-width: 700px;
  margin: auto; }
  /* line 7, /Volumes/dev/projects/sample-app-rea/static/scss/_index.scss */
  .main-wrapper .col-title {
    background-color: #aaa;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    font-size: 150%;
    margin: 10px;
    color: #fff; }
  /* line 17, /Volumes/dev/projects/sample-app-rea/static/scss/_index.scss */
  .main-wrapper .property-wrapper {
    margin: 10px;
    border: 1px solid #ddd;
    background-color: #efefef; }
    /* line 23, /Volumes/dev/projects/sample-app-rea/static/scss/_index.scss */
    .main-wrapper .property-wrapper h3 {
      text-align: center;
      padding: 0px 10px; }
    /* line 28, /Volumes/dev/projects/sample-app-rea/static/scss/_index.scss */
    .main-wrapper .property-wrapper .property-price {
      text-align: center;
      padding: 10px; }
    /* line 35, /Volumes/dev/projects/sample-app-rea/static/scss/_index.scss */
    .main-wrapper .property-wrapper .header img.agancy-logo {
      max-height: 30px; }
    /* line 40, /Volumes/dev/projects/sample-app-rea/static/scss/_index.scss */
    .main-wrapper .property-wrapper .property-img {
      width: 100%; }
    /* line 44, /Volumes/dev/projects/sample-app-rea/static/scss/_index.scss */
    .main-wrapper .property-wrapper .action {
      display: none;
      position: relative;
      text-align: center;
      color: #fff;
      width: 100%;
      padding: 10px;
      margin-top: -40px;
      height: 40px;
      border: 1px solid #ddd;
      font-weight: bold;
      cursor: pointer; }
      /* line 57, /Volumes/dev/projects/sample-app-rea/static/scss/_index.scss */
      .main-wrapper .property-wrapper .action.addProperty {
        background: green; }
      /* line 60, /Volumes/dev/projects/sample-app-rea/static/scss/_index.scss */
      .main-wrapper .property-wrapper .action.removeProperty {
        background: red; }
      /* line 64, /Volumes/dev/projects/sample-app-rea/static/scss/_index.scss */
      .main-wrapper .property-wrapper .action.active {
        display: block; }

/*# sourceMappingURL=main.css.map */